.btn-bd-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: black;
    --bs-btn-bg: #ffe142;
    --bs-btn-border-color: #ffe142;
    --bs-btn-border-radius: 1.4375rem;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #ffe142;
    --bs-btn-hover-border-color: #ffe142;
    --bs-btn-focus-shadow-rgb: $yellow;
    --bs-btn-active-color: $yellow;
    --bs-btn-active-bg: #ffe142;
    --bs-btn-active-border-color: #ffe142;
}
