// Body
$body-bg: #f0ffee;

// Typography
$font-family-sans-serif: "Roboto Flex", ui-sans-serif, system-ui, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;

$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Color
$green: #9cc697;
$cream: #fff4bb;
$yellow: #ffe142;

$primary: $green;
$secondary: $cream;
$btn-primary: $yellow;
