// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Color
$green: #9cc697;
$cream: #fff4bb;
$yellow: #ffe142;
$green2: #1c4117;

$primary: $green;
$secondary: $cream;
$warning: $yellow;
$success: $green2;
